@(playername : String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>Too Much Ice</h1>
<p>You should have known if it was that easy someone would have done it already.
    Your ship is hit by an iceberg.
    You and your crew fall into the sea and are attacked by giant coelacanths.
    Lucky for you a passing catfish chases away the coelacanths.
    You are all able to swim to the shore of a frozen island where you find nothing to eat but lettuce.
    Years later you are rescued by a ship named Titanic on its way to the New World.
    The end for @playername.
    <form action="@routes.GameController.postStart" method="POST">
        @helper.CSRF.formField
        <input type="submit" value="Play Again">
    </form>
    <form action="@routes.GameController.getWelcome">
        @helper.CSRF.formField
        <input type="submit" value="New Player">
    </form>
</p>
<br>
<img src="assets/images/shipwreck.jpg" title="shipwreck" width="400"/>
</body>
</html>
